*{
	margin:0;
}

body{
    background-color: #DDD6CC;
}

.web_width{
	width: 1200px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
}

h1{
	font-size : 50px;
	color : palevioletred;
    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
	margin-left: 180px;
}

.upper {
    height: 44px;
    background:linear-gradient(white,#cccccc);
    display: flex;
    justify-content: center;
	box-shadow: 0px -4px 6px 0 black;
}

.lower{
/*    border: red solid 1px;*/
}

.lab {
    /* float: left;  
	border: blue solid 1px;*/
    display: inline-block;
    width: 100px;
    height: 32px;
    font-size: 15px;
    margin:0 auto;
    margin-left: 5px;
	margin-right: 5px;
	padding-top: 12px;
	padding-left: 5px;
	padding-right: 5px;
    text-align:center;
	color: black;
	text-decoration: none;
	transition: background-color 1s, color 1s;

}

a.lab:hover{
	font-style: italic;
	color: #4D18BD;
	background-color: antiquewhite;
	border-radius:3px;
/*	background: linear-gradient(#FFEEDD,#FFDDCC);*/
	
}

.homepage_title{
	margin-top: 30px;
	text-align: center;
	color: darkviolet;
	font-size: 24px;
}

.homepage_substance{
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 30px;
	text-align-last: left;
	color:dimgray;
	font-size: 18px;
	text-indent: 2em;
}

.language{
	float: right;
}